# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://doadmin:AVNS_08bCBxJzk0a7Urw1q6k@db-postgresql-nyc3-14888-do-user-16011213-0.c.db.ondigitalocean.com:25060/defaultdb?sslmode=require

FLASK_APP_KEY="Key"
FLASK_APP=src/app.py
FLASK_ENV=development
SECRET_KEY="kpdfamily326!"
SPACES_SECRET_KEY = "P6o5nuweuVNNaWWRPZM6vqH7qRzbzCDr9cjnSxvVxxc"
SPACES_KEY = "DO00XPR9BW6KNT3WTN92"
DIGITALOCEAN_TOKEN = "dop_v1_fa5ea7311bf627071febde50e87bcf2263ac779c1c6831554ca8ba448309db0e"
# Front-End Variables
BASENAME="/"
BACKEND_URL = "http://127.0.0.1:3001/api"