.replace {
    stroke: #212529;
    stroke-width: 2px;
    fill: white;
}

@media only screen and (max-width:1000px) {
    
    .create-order-type {
     margin:auto;
     padding-left: 0;
    }
   
   

 }