@media only screen and (max-width:480px) {
    .pricing{
        width: 100% !important
    }
    .pricing1{
        display: none
    }
    .pricing2{
        width: 100%;
        border: none !important;
        margin: auto
    }
    .pricingform{
        margin: auto;
        text-align: center;
        width: auto !important;
    }
 
  }